.collections {
  border: $border-thin;
  padding: $padding-thin;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .collectionInput,
  .collectionSelect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  label {
    display: none;
  }

  input,
  select {
    width: 14rem;
    height: 2rem;
    font-size: $font-size-stock;
  }

  button {
    border: none;
    margin-left: auto;
    margin-right: 0.25rem;
    display: flex;
    font-size: 2rem;

    // Reminder, you can style the icon svg
    // svg {}
  }

}

@media screen and (orientation:landscape) and (max-width: $screen-break-m) {

  // TODO: style for screen sizes
  // .collections {
  //   input,
  //   select {
  //     border: $border-test-red;
  //     width: 100%;
  //   }
  // }

}

@media screen and (orientation:portrait) {}