.collections {
  border: $border-thin;
  padding: $padding-thin;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  button {
    margin-right: 1rem;
  }

  .collectionInput {
    border: $border-thin;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      display: none;
    }

    input {
      border: $border-thin;
      width: 16rem;
      font-size: 1.2rem;
      font-family: $page-font;
    }

  }

  .collectionSelect {
    border: $border-thin;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      display: none;
    }

    select {
      border: $border-thin;
      font-size: 1.2rem;
      font-family: $page-font;
    }
  }
}