.dashboard {
  border: $border-thin;
  padding: $padding-thin;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  form {
    display: flex;
    align-items: center;

    label {
      display: none;
    }

    span {
      width: 100%;
    }

    button {
      border: none;
      margin-left: $margin-stock;
      margin-right: $margin-stock;
      font-size: $font-size-xxlarge;
      display: flex;
    }

    button:hover {
      color: $color-active;
    }

    input,
    select {
      border: $border-input;  
      width: 100%;
      font-size: $font-size-large;
    }

    input:hover,
    select:hover {
      border: $border-input-hover;
    }

    input:focus,
    select:focus {
      border: $border-input-focus;
      outline: none;
    }
  }

}