.dashboard {
  border: $border-thin;
  padding: $padding-thin;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  button {
    border: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    font-size: 2rem;
  }

  form {

    display: flex;
    align-items: center;

    label {
      display: none;
    }

    span {
      width: 100%;
    }

    input,
    select {
      width: 100%;
      font-size: 1.2rem;
      border: 2px solid black;  
    }

    input:focus,
    select:focus {
      border: 2px solid blue;
      outline: none;
    }
  }
}