.projects {
  border: $border-thin;
  padding: $padding-thin;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-thin;

  h2 {
    margin: 0;
    margin-left: $margin-thin;
    margin-right: auto;
  }

  button {
    border: $border-thin;
    padding: $padding-thin;
    width: 20rem;
    display: flex;
    padding-left: $padding-thin;
    font-size: $font-size-large;
    
    span {
      padding-left: $padding-stock;
    }
  }

  button:hover {
    scale: 104%;
    border: $border-input-hover;
  }
}
