.projectForm {
  display: flex;
  flex-direction: column;
  gap: $gap-stock;

  h1 {
    margin: 0;
  }

  label {
    display: flex;
    font-weight: bold;
    flex-direction: column;
  }


  button:hover {
    color: $color-active;
  }

  input:hover,
  select:hover,
  textarea:hover {
    border: $border-input-hover;
  }

  .dateInput {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      gap: $gap-stock;

      label {
        display: none;
      }

      select {
        width: 6rem;
      }
    }

  }

  .formMenu {
    border: $border-thin;
    padding: $padding-thin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .formName {
      margin: 0;
      margin-right: $margin-stock;
      margin-left: $margin-stock;
      font-size: $font-size-large;
      font-weight: bold;

      span {
        font-weight: 100;
      }
    }

    .formCollection {
      margin: 0;
      margin-right: auto;
      margin-left: $margin-stock;
      font-size: $font-size-large;
      font-weight: bold;

      span {
        font-weight: 100;
      }
    }

    button {
      border: none;
      margin-left: $margin-thin;
      margin-right: $margin-thin;
      font-size: $font-size-xxlarge;
      display: flex;
    }

  }

  .formRow {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-stock;
  }

  .stats {
    border: $border-thin;
    padding: $padding-thin;
    width: 20rem;
    display: flex;
    flex-direction: column;

    input,
    select {
      font-size: $font-size-large;
      margin-bottom: $margin-thin;
    }

    .dateInput {
      select {
        width: 8rem;
      }
    }
  }

  .description {
    border: $border-thin;
    padding: $padding-thin;
    width: 40rem;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      margin-bottom: $margin-thin;
    }

    textarea {
      height: 16rem;
    }
  }

  .photoInput {
    width: 30rem;
    display: flex;
    flex-direction: column;

    [class~="photoURL"] {
      border: $border-thin;
      padding: $padding-thin;
      display: flex;
      align-items: center;
      gap: $gap-stock;

      button {
        border: none;
        font-size: $font-size-xxlarge;
      }

      input {
        width: 20rem;
      }
    }

    [class~="photoList"] {
      border: $border-thin;
      padding: $padding-thin;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: $gap-stock;

      [class~="photoThumb"] {
        border: $border-thin;
        position: relative;

        width: 4rem;
        height: 4rem;

        img {
          object-fit: contain;
        }

        button {
          border: none;
          color: red;
          padding: 0;
          background: none;
          position: absolute;
          right: 2px;
          top: 2px;

          svg {
            stroke-width: 0.02rem;
          }
        }

      }
    }
  }

  .tagInput {
    width: 30rem;
    display: flex;
    flex-direction: column;

    [class~="tagName"] {
      border: $border-thin;
      padding: $padding-thin;
      display: flex;
      align-items: center;
      gap: $gap-stock;

      button {
        border: none;
        font-size: $font-size-xxlarge;
      }
    }

    [class="tagList"] {
      border: $border-thin;
      padding: $padding-thin;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: $gap-stock;

      [class~="tag"] {
        border: 2px solid black;
        position: relative;
        display: flex;
        padding-left: $padding-stock;
        padding-right: $padding-stock;
        font-size: $font-size-large;
        font-weight: bold;

        button {
          border: none;
          color: red;
          padding: 0;
          background: none;
          position: absolute;
          right: 2px;
          top: 2px;

          svg {
            stroke-width: 0.02rem;
          }
        }
      }
    }
  }
}

@media screen and (orientation:landscape) and (max-width: 1024px) {}

@media screen and (orientation:portrait) {}