.Dashboard {
  border: 6px solid black;
  margin: 1rem;
  padding: 0.2rem;
  width: 25%;
  height: 80VH;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  overflow-y: scroll;
}