@import 'components/Inputs/Inputs.module.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $page-font;
  font-size: 62.5%;
}

button {
  background-color: $background-color;
  border: none;
  padding: 0;

  svg {
    pointer-events: none;
  }
}

button:hover,
.onclick:hover {
  cursor: pointer;
  color: $active-color;
}

button.active {
  color: $active-color;
}

main {
  height: 100vh;
}

.menu-div {
  border: $border-stock;
  padding: $padding-stock;
  height: 10rem;
  display: flex;
  gap: 1rem;
}

.project-div {
  border: $border-stock;
  padding: $padding-stock;
  height: 70%;
  display: flex;
  gap: 1rem;
}