@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $page-font;
  font-size: 100%;
  height: 100vh;
}

#__next {
  height: 100%;
}

button {
  border: none;
  padding: 0;
  display: flex;

  svg {
    pointer-events: none;
  }
}

button:hover,
select:hover {
  cursor: pointer;
}


main {
  background-color: $color-background;
  height: 100%;
  padding: 10px;
  display: flex;
  gap: $gap-stock;
}

.side-panel {
  background-color: $color-panel-background;
  border: $border-stock;
  padding: $padding-thin;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: $gap-thin;
}

.project-panel {
  background-color: $color-panel-background;
  border: $border-stock;
  padding: $padding-thin;
  width: 75rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $screen-break-l) {

}

@media screen and (orientation:portrait) {}