$page-font: 'Courier New', Courier, monospace;

$primary: blue;
$secondary: grey;
$background-color: white;
$active-color: green;

$color-active: green;
$color-background: white;
$color-primary: blue;
$color-secondary: grey;

$font-color: black;

$font-size-xsmall: 0.6rem;
$font-size-small: 0.8rem;
$font-size-stock: 1rem;
$font-size-large: 1.2rem;
$font-size-xlarge: 1.4rem;

$border-color: black;
$border-thick: 6px solid black;
$border-stock: 4px solid black;
$border-thin: 2px solid black;

$border-test-orange: 2px solid orange;
$border-test-blue: 2px solid blue;
$border-test-green: 2px solid green;
$border-test-red: 2px solid red;

$padding-thick: 1.0rem;
$padding-stock: 0.5rem;
$padding-thin: 0.25rem;

$margin-thick: 1.0rem;
$margin-stock: 0.5rem;
$margin-thin: 0.25rem;

$screen-break-xxl: 1900px;
$screen-break-xl: 1600px;
$screen-break-l: 1400px;
$screen-break-m: 1200px;
$screen-break-s: 900px;
$screen-break-xs: 600px;
$screen-break-xxs: 400px;