$page-font: 'Courier New', Courier, monospace;
$primary: black;
$secondary: grey;
$background-color: white;
$active-color: green;
$font-color: black;
$border-color: black;
$border-thick: 6px solid black;
$border-stock: 4px solid black;
$border-thin: 2px solid black;
$padding-thick: 0.5rem;
$padding-stock: 0.25rem;