.projectList {
  border: $border-thin;
  padding: $padding-thin;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  gap: $gap-thin;

  h2 {
    margin: 0;
    margin-left: $margin-thin;
    margin-right: auto;
    font-size: $font-size-xxlarge;
    
    span {
      font-size: $font-size-large;
    }
  }

  button {
    background-color: $color-input-background;
    border: $border-thin;
    border-radius: $border-radius-stock;
    padding: $padding-thin;
    padding-left: $padding-thin;
    width: 20rem;
    font-size: $font-size-large;
    
    span {
      padding-left: $padding-stock;
    }
  }

  button:hover {
    scale: 104%;
    border: $border-input-hover;
  }
}
